body{
    background-color: yellow;
    text-align: center;
    font-family: sans-serif;
}
header{
    display: grid;
    justify-content: center;
    margin: 20px;
}
.head{
    background-color: white;
    width: 160px;
    text-align:center;
    border: 1px solid black;
    
}
section{
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    width: 300px;
    padding: 10px;
}
article{
    margin: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: left;
    
}
a{
    text-decoration: none;
    color: rgb(0, 145, 255);
}
